<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SKONG RELEASE DATE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">marcial3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-breadcrumbs>
    <ion-breadcrumb expand="block" (click)="irAHome()">Home</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMarcial1()">Silksong</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMarcial3()">RELEASE</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-datetime minuteValues="0" dayValues="4" hourValues="10"></ion-datetime>
</ion-content>
