<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>martin1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">martin1</ion-title>
    </ion-toolbar>

  </ion-header>

<ion-breadcrumbs>
 <ion-breadcrumb expand="block" (click)="irAHome()">Home</ion-breadcrumb>
 <ion-breadcrumb expand="block" (click)="irAMartin0()">Volver</ion-breadcrumb>
</ion-breadcrumbs>

<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Hola 1</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Chao 1</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Vegetta</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">777</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Silk</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Song</div>
  </ion-accordion>
</ion-accordion-group>


</ion-content>



