Taller3.rar
*.zip
/appLaravel/node_modules/*
/appLaravel/node_modules
appLaravel/.env
/appLaravel/.env.backup
/appLaravel/.env.production
/appLaravel/storage/*
/appLaravel/*
/appLaravel/.env
appLaravel/.env
