<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>martin2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">martin2</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-breadcrumbs>
 <ion-breadcrumb expand="block" (click)="irAHome()">Home</ion-breadcrumb>
 <ion-breadcrumb expand="block" (click)="irAMartin0()">Volver</ion-breadcrumb>
</ion-breadcrumbs>

  <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="adsfhadfhardfh"
  subHeader="sdfhsdfhsdfh"
  message="sdfhsdfhsdfhsdfh"
  [buttons]="alertButtons"
></ion-alert>

</ion-content>
