<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>martin2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">martin2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-breadcrumbs>
    <ion-breadcrumb (click)="irAHome()">Home</ion-breadcrumb>
    <ion-breadcrumb (click)="irAMartin0()">Volver</ion-breadcrumb>
  </ion-breadcrumbs>

  <div class="searchbar">
    <ion-searchbar
      color="medium"
      placeholder="Buscar paciente"
      (ionInput)="onBuscar($event)">
    </ion-searchbar>
  </div>

  <div class="scroll">
    <ion-list>
      <ion-item *ngFor="let paciente of pacientes">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + paciente.id" alt="avatar" />
        </ion-avatar>
        <ion-label>
          <h2>{{ paciente.nombre }}</h2>
          <p>{{ paciente.rut }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
