<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pagina1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Página 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagina2">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Página 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagina3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Página 3</ion-label>
    </ion-tab-button>

    <!-- Un tab "extra" que apunte a una página con menú de accesos -->
    <ion-tab-button tab="martin1">
      <ion-icon name="list"></ion-icon>
      <ion-label>Martín1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="martin2">
      <ion-icon name="list"></ion-icon>
      <ion-label>Martín2</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="martin3">
      <ion-icon name="list"></ion-icon>
      <ion-label>Martín3</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="martin4">
      <ion-icon name="list"></ion-icon>
      <ion-label>Martín4</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="martin5">
      <ion-icon name="list"></ion-icon>
      <ion-label>Martín5</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="martin6">
      <ion-icon name="list"></ion-icon>
      <ion-label>Martín6</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
