<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>martin6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">martin6</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-breadcrumbs>
    <ion-breadcrumb expand="block" (click)="irAHome()">Home</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMartin2()">Silksong</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMartin6()">martin6</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-grid>
  <ion-row>
    <ion-col>Ultrapeak</ion-col>
    <ion-col>Peaksong</ion-col>
    <ion-col>Deltapeak</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>Tboi: Repentace</ion-col>
    <ion-col>Terraria</ion-col>
    <ion-col>Stardew Valley</ion-col>
    <ion-col>Hyperlight Drifter</ion-col>
    <ion-col>Osu</ion-col>
    <ion-col>All you need is hustle</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>Midecraft</ion-col>
    <ion-col>Hollow Mid base</ion-col>
    <ion-col>Enter the midgeon</ion-col>
    <ion-col>Master mid</ion-col>
    <ion-col>Omomid</ion-col>
    <ion-col>Midwatch2</ion-col>
    <ion-col>Assasins mid</ion-col>
    <ion-col>Red mid midemption</ion-col>
    <ion-col>Midge</ion-col>
    <ion-col>Balamid</ion-col>
    <ion-col>Midcells</ion-col>
    <ion-col>Mid code</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
