<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>marcial4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">marcial4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-breadcrumbs>
    <ion-breadcrumb expand="block" (click)="irAHome()">Home</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMarcial1()">Silksong</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMarcial4()">Song3</ion-breadcrumb>
  </ion-breadcrumbs>
</ion-content>
