<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Its just PEAK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Its just PEAK</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-breadcrumbs>
    <ion-breadcrumb expand="block" (click)="irAHome()">Home</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMarcial1()">Silksong</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMarcial2()">Its just PEAK</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-img
  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsm.ign.com%2Ft%2Fign_za%2Freview%2Fh%2Fhollow-kni%2Fhollow-knight-silksong-review-in-progress_te4e.1200.jpg&f=1&nofb=1&ipt=c06eedc0da41da754282213a8ad2329926bd76b86457ae811eae443362203795"
  alt="Hollow Knight Silksong image"
></ion-img>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Silksong is the PEAKest game of all time baby. It is so good I already have like 24 hours in 4 days oh god someonehelpmestopSkongingititstoogoodohgod
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>
