<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Silksong is real!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pagina1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-breadcrumbs>
    <ion-breadcrumb expand="block" (click)="irAHome()">Home</ion-breadcrumb>
    <ion-breadcrumb expand="block" (click)="irAMarcial1()">Silksong</ion-breadcrumb>
  </ion-breadcrumbs>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Song1</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear"  (click)="irAMarcial2()">Action 1</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Song2</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear"  (click)="irAMarcial3()">Action 1</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Song3</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear"  (click)="irAMarcial4()">Action 1</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Song4</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear"  (click)="irAMarcial5()">Action 1</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Song5</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear"  (click)="irAMarcial6()">Action 1</ion-button>
  </ion-card>
</ion-content>
